<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<workPeriodInMinutes>55</workPeriodInMinutes>
	<breakPeriodInMinutes>5</breakPeriodInMinutes>
	<language>en</language>
	<notificationSound>en</notificationSound>
	<soundNotificationEnabled>true</soundNotificationEnabled>
	<volume>50</volume>
	<displayingImageEnabled>false</displayingImageEnabled>	
</settings>
